
  @import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400&family=Inter&family=Nanum+Gothic+Coding&family=Poppins:ital,wght@0,300;0,400;0,600;1,200&family=Readex+Pro:wght@200;400;500&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;1,8..144,100&display=swap');

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
 
    .main{
       width: 100%;
       display: flex;
       padding: 20px;
        .sec1{
           width: 40%;
           margin-left: auto;
           .content{
            width: 100%;
            height: 100%;
            margin-left: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            gap: 20px;
            padding-bottom: 20px;
            font-size: 20px;
    
            .title{
                white-space: nowrap;
                color:#9BCDF0;
                font-size: 40px;
                font-family: Inter, sans-serif;
                
            }
            p{
                width: 100%;
                overflow: hidden;
            }
            .btn{
                white-space: nowrap;
                background: #C1E8B1;
                padding:10px 20px;
                width: fit-content;
                border-radius: 12px;
                cursor: pointer;
                border: none;
            }
           }
    
        }
        .sec2{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            img{
            }
        }
      
    }
    @media screen and (max-width:500px){
       .main{ 
        flex-wrap: wrap;
        .sec1{
            flex: 100%;
            order: 1;
            .content{
                font-size: 15px;
            }
        }
        .sec2{
            flex:0 0 100%;
            order:1;
            width: 100%;
            img{
                width: 100%;
            }
        }}
        
    }
   
   .clients{
    padding: 20px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
.header{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    
    img{
        position: absolute;
        right: 0;
        width: 80%;
    }
    h1{
        width: 100%;
        font-family: 'Roboto',sans-serif;
        font-style: italic;
        font-weight: 100;
        span{
            width: 80%;
            padding-left: 10px;
        }
    }
   
}
p{
    width: 70%;
    text-align: center;
    font-family: 'Roboto';
}
.swiper{
    width: 90vw;
    list-style: none;
    .swiper-wrapper{
        align-items: center;
        
        
        .swiperslide{
            max-width: 300px;
            .client{
                border: none;
                overflow: hidden;
                border-radius: 10px;
                background-color: white;
                box-shadow: 0 1px 6px rgba(0,0,0,.08);
                padding: 20px;
                .card-head{
                    height: 30%;
                    display: flex;
                    margin-bottom: 10px;
                    height: 10%;
                
                    .avatar{
                        flex: 1;
    
                    }
                    .side{
                        flex: 2;
                        height: 100%;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin: auto;
                        h1{
                            font-size: 20px;
                            white-space: nowrap;
                        }
                        ul{display: flex;
                            flex-wrap: nowrap;
                            padding-left: 0px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            i{
                                color: #EC942C;
                            }
                        }
                    }
                }
                @media screen and (max-width:750px){
                    .card-head{
    
                    flex-wrap: wrap;
                    .side{
                        flex: 100%;
                        width: 100%;
                    }
    
                    }    
                    }
                .card-body{
                    
                height: 250px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
    
        }
       
    }
    .swiper-button-prev::after{
        content: '';
    }
    .swiper-button-next::after{
        content: '';
    }
    @media screen and (min-width:800px){
        .swiper-wrapper{
        justify-content: center;}
    }
   
}
   }
   
  
}